$mainText: $dark-gray;
$secondaryText: $light-gray;
$price: $red;
$error: $red;
$link: $blue;
$linkHover: adjust_hue(desaturate(darken($blue, 2), 1), 4);
$box-shadow:rgba($gray2, 0.2);
$disable-background:$white2;
$disable-font:$white3;

