$theme-color:$black;

$layout-header: (
        headerBackground:rgba($theme-color,0.85),
        headerFont:$topBarText
);
$component-menu-list: (
        menuLiPseudoColor:$theme-color,
        menuLinkColor:$mainText,
        menuLinkBorderColor:$white6,
        childMenuLinkBGColor:$light-gray,
        childMenuLinkHoverBGColor:$light-gray2,
        childMenuLinkHoverColor:$white
);