//／ 顏色模組

/// 灰色系
$grey:#bababa;
$dark-gray:#666666;
$gray2:rgb(71, 73, 72);
$gray3:#4A4A4A;
$gray4:#7A7A7A;
$gray5:#4a4e5c;
$gray7:#7b726f;
$light-gray:#999999;
$light-gray2:#d1d6d6;

/// 黑色系
$black:rgb(0, 0, 0);
$black2:#222222;

/// 白色系
$white:#fff;
$white2:#eeeeee;
$white3:#dcdcdc;
$white4:#D4D9DE;
$white5:#f5f5f5;
$white6:#cccccc;

/// 綠色系
$green:#4CAD4C;
$green2:#ecf8ef;
$green3:#72ca6c;

/// 藍色系
$blue:#20AFEA;
$blue2:#428BCA;
$cyan:#5CC7D7;

/// 紅色系
$red: #ff5353;
$red2:#ffeded;

/// 粉色系
$pink:#EE8AA2;
$pink2:#ffeef3;
$pink3:#f9bdcf;
$peach:#E94D8A;
$light-red:#FF2750;

/// 紫色系
$purple:#7834A1;

/// 橘色系
$orange:#FB8521;
