$theme-color:$green;

$layout-header: (
        headerBackground:rgba($theme-color,0.85),
        headerFont:$topBarText
);
$component-menu-list: (
        menuLiPseudoColor:$green,
        menuLinkColor:$mainText,
        menuLinkBorderColor:$white6,
        childMenuLinkBGColor:$green2,
        childMenuLinkHoverBGColor:$green3,
        childMenuLinkHoverColor:$white
);