@import "baseDark";
$theme-color:$black;
$layout-header: (
        headerBackground:rgba($theme-color,0.85),
        headerFont:$topBarText
);
$component-menu-list: (
        menuLiPseudoColor:$theme-color,
        menuLinkColor:$mainText,
        menuLinkBorderColor:$white6,
        childMenuLinkBGColor:$gray7,
        childMenuLinkHoverBGColor:$theme-color,
        childMenuLinkHoverColor:$white
);