@import "baseLight";
$theme-color:#4CAD4C;
$layout-header: (
        headerBackground:rgba($theme-color,0.85),
        headerFont:$topBarText
);
$component-menu-list: (
        menuLiPseudoColor:adjust_hue(saturate(lighten($theme-color, 12), 8), -4),
        menuLinkColor:$mainText,
        menuLinkBorderColor:#cccccc,
        childMenuLinkBGColor:adjust_hue(saturate(lighten($theme-color, 46), 5), 13),
        childMenuLinkHoverBGColor:adjust_hue(saturate(lighten($theme-color, 12), 8), -4),
        childMenuLinkHoverColor:$white
);