$white:#fff;
$black:rgb(0, 0, 0);
$grey:#bababa;
$red: #ff5353;
$light-red:#ffeded;
$box-shadow:rgba(71, 73, 72, 0.2);
$disable-background:#eeeeee;
$disable-font:#dcdcdc;

/// UI guidline-12/13草稿中
$mainText: #666666;
$secondaryText: #999999;
$price: #ff5353;
$error: #ff5353;
$link: #428BCA;
$linkHover: #3B7CB5;

/// Key Style Colors
$theme-green:#4CAD4C;
$theme-purple:#7834A1;
$theme-pink:#EE8AA2;
$theme-peach:#E94D8A;
$theme-blue:#20AFEA;
$theme-cyan:#5CC7D7;
$theme-grey:#d8d8d8;
$theme-black:#000000;
$theme-orange:#FB8521;
$theme-red:#FF5353;
$theme-light:#FF2750;
