@import "baseLight";
$theme-color:$pink;

$layout-header: (
        headerBackground:rgba($theme-color,0.85),
        headerFont:$topBarText
);
$component-menu-list: (
        menuLiPseudoColor:$theme-color,
        menuLinkColor:$mainText,
        menuLinkBorderColor:$white6,
        childMenuLinkBGColor:$pink2,
        childMenuLinkHoverBGColor:$pink3,
        childMenuLinkHoverColor:$white
);