/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

figure {
  line-height: 0;
}

a {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
}

.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1 {
  float: left;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-11 {
  width: 100%;
}

.col-sm-10 {
  width: 100%;
}

.col-sm-9 {
  width: 100%;
}

.col-sm-8 {
  width: 100%;
}

.col-sm-7 {
  width: 100%;
}

.col-sm-6 {
  width: 100%;
}

.col-sm-5 {
  width: 100%;
}

.col-sm-4 {
  width: 100%;
}

.col-sm-3 {
  width: 100%;
}

.col-sm-2 {
  width: 100%;
}

.col-sm-1 {
  width: 100%;
}

.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
  float: left;
}

.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 100%;
}

.col-md-10 {
  width: 100%;
}

.col-md-9 {
  width: 100%;
}

.col-md-8 {
  width: 100%;
}

.col-md-7 {
  width: 100%;
}

.col-md-6 {
  width: 100%;
}

.col-md-5 {
  width: 100%;
}

.col-md-4 {
  width: 100%;
}

.col-md-3 {
  width: 100%;
}

.col-md-2 {
  width: 100%;
}

.col-md-1 {
  width: 100%;
}

.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1 {
  float: left;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-11 {
  width: 100%;
}

.col-lg-10 {
  width: 100%;
}

.col-lg-9 {
  width: 100%;
}

.col-lg-8 {
  width: 100%;
}

.col-lg-7 {
  width: 100%;
}

.col-lg-6 {
  width: 100%;
}

.col-lg-5 {
  width: 100%;
}

.col-lg-4 {
  width: 100%;
}

.col-lg-3 {
  width: 100%;
}

.col-lg-2 {
  width: 100%;
}

.col-lg-1 {
  width: 100%;
}

.col-xs-12,
.col-xs-11,
.col-xs-10,
.col-xs-9,
.col-xs-8,
.col-xs-7,
.col-xs-6,
.col-xs-5,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 100%;
}

.col-xs-10 {
  width: 100%;
}

.col-xs-9 {
  width: 100%;
}

.col-xs-8 {
  width: 100%;
}

.col-xs-7 {
  width: 100%;
}

.col-xs-6 {
  width: 100%;
}

.col-xs-5 {
  width: 100%;
}

.col-xs-4 {
  width: 100%;
}

.col-xs-3 {
  width: 100%;
}

.col-xs-2 {
  width: 100%;
}

.col-xs-1 {
  width: 100%;
}

@media (max-width: 768px) {
  .col-xs-12,
  .col-xs-11,
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4,
  .col-xs-3,
  .col-xs-2,
  .col-xs-1 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66667%;
  }

  .col-xs-10 {
    width: 83.33333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66667%;
  }

  .col-xs-7 {
    width: 58.33333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-4 {
    width: 33.33333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-1 {
    width: 8.33333%;
  }
}
@media (min-width: 768px) {
  .col-sm-12,
  .col-sm-11,
  .col-sm-10,
  .col-sm-9,
  .col-sm-8,
  .col-sm-7,
  .col-sm-6,
  .col-sm-5,
  .col-sm-4,
  .col-sm-3,
  .col-sm-2,
  .col-sm-1 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }
}
@media (min-width: 1281px) {
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-1 {
    width: 8.33333%;
  }
}
@media (min-width: 1620px) {
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hide-at-sm {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .hide-at-sm {
    display: inherit;
  }
}

.hide-at-lg {
  display: block;
}
@media only screen and (min-width: 1281px) {
  .hide-at-lg {
    display: none !important;
  }
}

.hide-small-than-lg {
  display: none !important;
}

.show-at-lg {
  display: none !important;
}
@media only screen and (min-width: 1281px) {
  .show-at-lg {
    display: block;
  }
}

.show-at-sm {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  .show-at-sm {
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  ._hide-at-sm {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  ._hide-at-md {
    display: none !important;
  }
}

@media only screen and (min-width: 1281px) {
  ._hide-at-lg {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  ._show-at-sm {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  ._show-at-md {
    display: block !important;
  }
}

@media only screen and (min-width: 1281px) {
  ._show-at-lg {
    display: block !important;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
  opacity: 10 !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.layout-footer {
  position: relative;
  bottom: 0;
  height: 400px;
  background-color: #fff;
  color: black;
  z-index: 200;
  border-top: 5px solid black;
}
