@charset "UTF-8";
.layout-top {
  height: 25px;
}

.layout-header {
  position: fixed;
  height: inherit;
  background-color: rgba(238, 138, 162, 0.85);
  color: #ffffff;
  z-index: 500;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: 25px auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1281px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1620px) {
  .container {
    width: 1170px;
  }
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

._btn, .btn-primary, .btn-disable {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}

.btn-primary {
  background-color: #ffeded;
  color: #ff5353;
  border: 1px solid #ff5353;
}
.btn-primary:hover {
  background-color: #ffcece;
  cursor: pointer;
}
.btn-primary:active {
  background-color: #ff5353;
  color: #fff;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

.btn-disable {
  border: none;
  background-color: #eeeeee;
  color: #dcdcdc;
  cursor: default;
}

.menu-list ul {
  list-style: circle;
}
.menu-list .menu-li {
  line-height: 17px;
  -webkit-transform: translateZ(0);
}
.menu-list .menu-link, .menu-list .child-menu-link {
  width: 100%;
  display: inline-block;
  line-height: inherit;
  text-align: left;
  box-sizing: border-box;
  color: #666666;
  padding: 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  font-weight: bold;
}
.menu-list .menu-link:hover, .menu-list .child-menu-link:hover {
  color: #f9bdcf;
}
.menu-list .child-menu-ul {
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  max-height: 0;
}
.menu-list .child-menu-ul.open {
  max-height: 9999px;
}
.menu-list .child-menu-link {
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  padding-left: 15%;
  word-wrap: break-word;
  font-weight: 100;
}
.menu-list .child-menu-link:before {
  content: "Ë™";
}
