<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link type="text/css" rel="stylesheet"
          href="../../Styles/font-awesome.css">
    <script type="text/javascript" src="../../Javascript/index.js"></script>
</head>
<body>
<div class="row">
    <div class="layout-top">
        <div class="col-md-12 layout-header">
            <h3>我是header</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="main-vision-img" src="http://fakeimg.pl/1530x660/ff0000,128/000,255?text=MainVision" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--分類側欄-->
            <aside>
                <div class="menu-list">
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a class="menu-link">人氣商品推薦</a>
                        </li>
                        <li class="menu-li">
                            <a class="menu-link">【NEW★包款專區】</a>
                        </li>
                        <li class="menu-li">
                            <a class="menu-link">【明星部落客★鞋櫃私著】</a>
                        </li>
                        <li class="menu-li">
                            <a class="menu-link">【跟鞋】</a>
                        </li>
                        <li class="menu-li">
                            <a class="menu-link open">【聯名系列】</a>
                            <ul class="child-menu-ul open">
                                <li class="child-menu-li">
                                    <a class="child-menu-link">Hello Kitty</a>
                                </li>
                                <li class="child-menu-li">
                                    <a class="child-menu-link">Annstar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="btn-primary">更多分類</button>
                <button class="btn-disable">回首頁</button>
            </aside>
        </div>
        <div class="col-sm-9">
            <div class="cabinet-list">
                <ul class="cabinet">
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li><li class="cabinet-li col-sm-2">
                    <a class="cabinet-link">
                        <div class="cabinet-top"
                             style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                        <div class="cabinet-middle">
                            <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                            <div class="cabinet-suggest-price">$2780</div>
                            <div class="cabinet-price">$1380</div>
                        </div>
                    </a>
                </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-sm-2">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 layout-footer">
        <h3>我是footer</h3>
    </div>
</div>
</body>
</html>