<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,maximum-scale=1.0">
    <title>首頁</title>
    <link type="text/css" rel="stylesheet"
          href="../../Styles/Theme/ThemeA/Mobile/Color/Controller/themeBase.css">
    <link type="text/css" rel="stylesheet"
          href="../../Styles/Theme/ThemeA/Mobile/Page/OfficialIndex/officialIndex.css">
    <link type="text/css" rel="stylesheet"
          href="../../Styles/font-awesome.css">
    <script type="text/javascript" src="/Javascript/index.js"></script>
</head>
<body>
<div class="row">
    <div class="layout-top">
        <div class="col-md-12 layout-header">
            <h3>我是header</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="main-vision-img" src="http://fakeimg.pl/1530x660/ff0000,128/000,255?text=MainVision" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cabinet-list">
                <ul class="cabinet">
                    <li class="cabinet-li col-xs-6">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-xs-6">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-xs-6">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-xs-6">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                    <li class="cabinet-li col-xs-6">
                        <a class="cabinet-link">
                            <div class="cabinet-top"
                                 style="background-image: url('http://fakeimg.pl/400x400/?text=image')"></div>
                            <div class="cabinet-middle">
                                <h3 class="cabinet-title">Ann’S休閒舒適全真牛皮超軟綁帶小白鞋-白</h3>
                                <div class="cabinet-suggest-price">$2780</div>
                                <div class="cabinet-price">$1380</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 layout-footer">
        <h3>我是footer</h3>
    </div>
</div>
</body>
</html>