.layout-top {
  height: 55px;
}

.layout-header {
  position: fixed;
  height: inherit;
  background-color: rgba(238, 138, 162, 0.85);
  color: #ffffff;
  z-index: 500;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto 30px;
  overflow: hidden;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}
